root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js,json}]
indent_style = space
indent_size = 2
curly_bracket_next_line = false
indent_brace_style = K&R
